<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <center>
            <label class="form-label"><h3>What are you looking for?</h3></label>
            <br>
            <br>
            <input type="text" name="search">
            <button type="submit">Search</button>
        </center>
    </form>
<br>
<br>
    {% if result %}
        {{ result }}
    {% endif %}
</div>
</body>
</html>

